.o_awesome_tshirt_dashboard {
    padding: 16px;
    display: flex;

    .o_statistics {
        flex: 0 0 auto;
        font-size: 14px;
        line-height: 30px;
    }
    .o_fancy_chart {
        flex: 1 1 0;
    }
}
